Industria 4.json
[
    {
        "id": "50baed72df3a68ee",
        "type": "tab",
        "label": "Industria 4.0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e86b907d10b2469c",
        "type": "group",
        "z": "50baed72df3a68ee",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e9a209509e10f04d",
            "57df07ac15df144f",
            "315c41a9aa2cefe1",
            "5a6ae3e0e5af4517",
            "57adee218ffc3e70",
            "aaa55abb9d4d76a5",
            "f6ebd068816d5f34",
            "9832f9e4f77c9b57",
            "0f10506c36a6f17a",
            "c7664ca7866fb1c6",
            "8030d73f313471c0",
            "25db82cdac18f862",
            "cddb546d205ae0d8",
            "f2c984252cf265e3",
            "74a9441542f16bee",
            "432a59d0b88105a7",
            "03ea2cac6a59640a",
            "a421136c3f79a46a",
            "47c4acb8b59a4906",
            "373742e91dda535f",
            "1e2e86b44f91667a",
            "5c43ae623c7a475d",
            "484aa683cff37efc",
            "3b022622a25c715d",
            "8f37c01cbbb18cea",
            "a41188eb3ee8ebe1",
            "32050f21fd198c68",
            "d09f4be414c87d9f",
            "b36775bc447ffd08",
            "4993d99d63f3a2a0",
            "8c39501066a6ac85",
            "de770a693d5bdddb",
            "3f243aed57a69d51",
            "a5276a25b2690d22",
            "3cb2dca907e55cab",
            "207ff28b0f2035a6",
            "19158a8ac2083ab8",
            "6dd9c31c5308b9ed",
            "ddb97ac654e640fc",
            "acca9d3af4870405",
            "d7d4ad130bc43a35",
            "cb36c7413bd4b72c"
        ],
        "x": 334,
        "y": 239,
        "w": 1532,
        "h": 642
    },
    {
        "id": "cb36c7413bd4b72c",
        "type": "group",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ee2b3eb67a157907",
            "f4fa280962bc321c",
            "9015e02fe99ea55e",
            "2d1d0e9f68778e9e",
            "e46294da96067d94"
        ],
        "x": 1174,
        "y": 279,
        "w": 652,
        "h": 162
    },
    {
        "id": "e9a209509e10f04d",
        "type": "mqtt in",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Telemetría",
        "topic": "analogico",
        "qos": "2",
        "datatype": "auto",
        "broker": "71f4a25f91dceb7b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 500,
        "wires": [
            [
                "315c41a9aa2cefe1",
                "de770a693d5bdddb"
            ]
        ]
    },
    {
        "id": "57df07ac15df144f",
        "type": "function",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Función 9",
        "func": "// Armar cadena con Flujo y Nivel\nvar flujo = flow.get(\"flujov\");      // en L/s\nvar nivel = flow.get(\"nivel_cm\");    // en cm\nvar valor = flow.get(\"valor\");       // contador\n\n// Construir mensaje con dos líneas\nvar cadena = \"Valor de Flujo: \" + flujo.toFixed(1) + \" l/s\\n\" +\n             \"Nivel de agua: \" + nivel.toFixed(1) + \" cm\";\n\nvar activador = flow.get(\"activador\");\n\nif (activador === true) {\n    msg.payload = {\n        chatId: 1242591758,   // Chat ID\n        type: \"message\",\n        content: cadena.toString()\n    }\n    return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 660,
        "wires": [
            [
                "a41188eb3ee8ebe1",
                "19158a8ac2083ab8"
            ]
        ]
    },
    {
        "id": "315c41a9aa2cefe1",
        "type": "function",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Función 1",
        "func": "msg.payload = msg.payload * 1;\n\n// Transformación de Nivel a Caudal\nlet H_cm = msg.payload;\nlet H_m = H_cm / 100;\nlet L = 1.8;\nlet Q_m3s = 1.84 * L * Math.pow(H_m, 1.5);\nlet Q_lps = Q_m3s * 1000;\n\n// Contador Valor\nlet valor = flow.get(\"valor\") || 0;\nvalor = valor + 1;\nflow.set(\"valor\", valor);\n\n// Guarda en variables de flujo con 1 decimal\nflow.set(\"nivel_cm\", Number(H_cm.toFixed(1)));\nflow.set(\"flujov\",  Number(Q_lps.toFixed(1)));\n\n// Prepara para Google Form \nmsg.payload1 = valor;\nmsg.payload2 = Number(H_cm.toFixed(1));\nmsg.payload3 = Number(Q_lps.toFixed(1));\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 480,
        "wires": [
            [
                "1e2e86b44f91667a",
                "5a6ae3e0e5af4517",
                "5c43ae623c7a475d",
                "a421136c3f79a46a",
                "03ea2cac6a59640a",
                "acca9d3af4870405",
                "d7d4ad130bc43a35"
            ]
        ]
    },
    {
        "id": "5a6ae3e0e5af4517",
        "type": "delay",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "",
        "pauseType": "queue",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 580,
        "wires": [
            [
                "57df07ac15df144f",
                "9832f9e4f77c9b57",
                "8030d73f313471c0",
                "d09f4be414c87d9f",
                "74a9441542f16bee",
                "4993d99d63f3a2a0"
            ]
        ]
    },
    {
        "id": "57adee218ffc3e70",
        "type": "change",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 760,
        "wires": [
            [
                "aaa55abb9d4d76a5",
                "3f243aed57a69d51"
            ]
        ]
    },
    {
        "id": "aaa55abb9d4d76a5",
        "type": "function",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Recibe Manual",
        "func": "flow.set(\"activar\",msg.payload);\nvar en = flow.get(\"activar\");\n//var boolen = false;\n\nif(en == \"Recibir\")\n{\n    boolen = true;    \n\n}\nif(en == \"Cancelar\")\n{\n    boolen = false;\n}\nflow.set(\"activador\",boolen);\nmsg.payload = boolen;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 4,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 700,
        "wires": [
            [
                "57df07ac15df144f",
                "a5276a25b2690d22"
            ]
        ]
    },
    {
        "id": "f6ebd068816d5f34",
        "type": "function",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Función 6",
        "func": "let tableData = flow.get(\"savedData\") || [];\n\n// Leer lo calculado\nlet valor   = flow.get(\"savedCount\");\nlet nivel   = flow.get(\"nivel_cm\");\nlet flujo   = flow.get(\"flujov\");\nlet fecha   = flow.get(\"fecha\");\nlet hora    = flow.get(\"hora\");\n\n// Fallback: si por alguna razón 'fecha' no está, se la genera aquí\nif (!fecha) {\n  const now = new Date();\n  const pad = n => (n < 10 ? \"0\" : \"\") + n;\n  fecha = `${pad(now.getDate())}.${pad(now.getMonth()+1)}.${now.getFullYear()} ${pad(now.getHours())}:${pad(now.getMinutes())}:${pad(now.getSeconds())}`;\n  hora  = `${pad(now.getHours())}:${pad(now.getMinutes())}:${pad(now.getSeconds())}`;\n  flow.set(\"fecha\", fecha);\n  flow.set(\"hora\", hora);\n}\n\n// Inserta al inicio\ntableData.unshift({\n  \"Nº\"          : valor,   // = Valor\n  \"Fecha\"       : fecha,   // = Fecha/Hora\n  \"Nivel (cm)\"  : nivel,\n  \"Flujo (l/s)\" : flujo,\n  \"Hora\"        : hora\n});\n\n// (Opcional) limita filas\n// if (tableData.length > 200) tableData.pop();\n\nmsg.payload = tableData;\nflow.set(\"savedData\", tableData);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 540,
        "wires": [
            [
                "32050f21fd198c68",
                "ddb97ac654e640fc"
            ]
        ]
    },
    {
        "id": "9832f9e4f77c9b57",
        "type": "function",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Función 4",
        "func": "var bool = flow.get(\"resetear\");\n\nif (bool === true) {\n    var myCount = 0;\n    flow.set('savedCount', myCount);\n    flow.set(\"resetear\", false);   // Apaga la bandera\n    // El siguiente dato real empezará en 1\n}\n\n// Si el mensaje trae payload válido, incrementar\nif (msg.payload) {\n    var myCount = flow.get('savedCount') || 0;\n    myCount++;\n    flow.set('savedCount', myCount);\n\n    msg.savedCount = myCount;   \n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 1,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 500,
        "wires": [
            [
                "6dd9c31c5308b9ed"
            ]
        ]
    },
    {
        "id": "0f10506c36a6f17a",
        "type": "function",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Función 5",
        "func": "flow.set(\"fecha\", String(msg.payload));      // Guarda la fecha completa\n\n// Sacar la hora (segunda parte separada por espacio)\nlet s = String(msg.payload);                 // ej: \"21.09.2025 16:36\"\nlet hora = (s.split(\" \")[1] || \"\").trim();   // \"16:36\"\n\n// Si viene sin segundos se los añade\nif (hora && hora.length === 5) hora = hora + \":00\";  // \"16:36:00\"\n\nflow.set(\"hora\", hora);                      // Guardar solo la hora\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 540,
        "wires": [
            [
                "f6ebd068816d5f34"
            ]
        ]
    },
    {
        "id": "c7664ca7866fb1c6",
        "type": "file",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "",
        "filename": "C:\\\\Users\\\\DELL\\\\OneDrive\\\\Desktop\\\\ReporteIoT\\\\reporte.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1520,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "8030d73f313471c0",
        "type": "function",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Función 10",
        "func": "if (flow.get(\"rep\") === true) {\n  // Contador propio para el archivo\n  let fileCount = (flow.get(\"fileCount\") || 0) + 1;\n  flow.set(\"fileCount\", fileCount);\n\n  // Leer valores \n  let fecha = flow.get(\"fecha\");\n  let hora  = flow.get(\"hora\");\n  let nivel = flow.get(\"nivel_cm\");\n  let flujo = flow.get(\"flujov\");\n\n  // Fallback por si faltan fecha/hora\n  const pad = n => (n < 10 ? \"0\" : \"\") + n;\n  if (!fecha || !hora) {\n    const now = new Date();\n    if (!fecha) fecha = `${pad(now.getDate())}.${pad(now.getMonth()+1)}.${now.getFullYear()} ${pad(now.getHours())}:${pad(now.getMinutes())}:${pad(now.getSeconds())}`;\n    if (!hora)  hora  = `${pad(now.getHours())}:${pad(now.getMinutes())}:${pad(now.getSeconds())}`;\n  }\n\n  // Asegura 1 decimal en el archivo (por si acaso)\n  const n1 = (typeof nivel === \"number\") ? nivel.toFixed(1) : \"\";\n  const q1 = (typeof flujo === \"number\") ? flujo.toFixed(1) : \"\";\n\n  // CSV final (SIN \\n si el Write file añade newline)\n  msg.payload = `${fileCount},${fecha},${n1},${q1},${hora}`;\n  return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 740,
        "wires": [
            [
                "c7664ca7866fb1c6"
            ]
        ]
    },
    {
        "id": "25db82cdac18f862",
        "type": "function",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Función 11",
        "func": "var rep = flow.get(\"rep\");\nif (rep === true) {\n  // Evita duplicar cabecera\n  if (flow.get(\"header_written\") !== true) {\n    flow.set(\"header_written\", true);\n    msg.payload = \"Valor,Fecha/Hora,Nivel (cm),Flujo (l/s),Hora\"; // SIN \\n\n    return msg;\n  }\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 780,
        "wires": [
            [
                "c7664ca7866fb1c6",
                "207ff28b0f2035a6"
            ]
        ]
    },
    {
        "id": "cddb546d205ae0d8",
        "type": "function",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Función 12",
        "func": "flow.set(\"rep\",msg.payload); \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 800,
        "wires": [
            [
                "25db82cdac18f862",
                "3cb2dca907e55cab"
            ]
        ]
    },
    {
        "id": "f2c984252cf265e3",
        "type": "function",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Limpia charts",
        "func": "// Marca bandera de reset\nflow.set(\"resetear\", true);\n\n// Reinicia estado guardado\nflow.set('savedCount', 0);\nflow.set('nivel_cm', null);\nflow.set('flujov', null);\nflow.set('fecha', null);\nflow.set('hora', null);\nflow.set('savedData', []);\nflow.set('header_written', false);\nflow.set('fileCount', 0);\n\n// Limpia Salida 1 \nconst msgFlujo = { topic: \"Flujo (L/s)\", payload: [] };\n\n// Limpia Salida 2 \nconst msgNivel = { topic: \"Nivel (cm)\",  payload: [] };\n\nreturn [ msgFlujo, msgNivel ];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 280,
        "wires": [
            [
                "484aa683cff37efc"
            ],
            [
                "3b022622a25c715d"
            ]
        ]
    },
    {
        "id": "74a9441542f16bee",
        "type": "function",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Función 7",
        "func": "// Recuperar valores del flow\nlet valor = flow.get(\"savedCount\");   // Valor\nlet fecha = flow.get(\"fecha\");        // Fecha/Hora\nlet nivel = flow.get(\"nivel_cm\");     // Nivel (cm)\nlet flujo = flow.get(\"flujov\");       // Flujo (l/s)\nlet hora  = flow.get(\"hora\");         // Hora sola\n\n// Fallbacks por seguridad\nif (!fecha) {\n  const now = new Date();\n  const pad = n => (n < 10 ? \"0\" : \"\") + n;\n  fecha = `${pad(now.getDate())}.${pad(now.getMonth()+1)}.${now.getFullYear()} ${pad(now.getHours())}:${pad(now.getMinutes())}:${pad(now.getSeconds())}`;\n}\nif (!hora && fecha.includes(\" \")) {\n  hora = fecha.split(\" \")[1];\n}\n\n// Redondear flujo a 3 decimales\nif (Number.isFinite(flujo)) flujo = Math.round(flujo * 1000) / 1000;\n\n// Preparar variables para Google Form\nmsg.payload1 = valor;   // entry.363148659\nmsg.payload2 = fecha;   // entry.1630146957\nmsg.payload3 = nivel;   // entry.321472480\nmsg.payload4 = flujo;   // entry.1314320949\nmsg.payload5 = hora;    // entry.1043240112\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 580,
        "wires": [
            [
                "432a59d0b88105a7"
            ]
        ]
    },
    {
        "id": "432a59d0b88105a7",
        "type": "http request",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSe4QGQARlVMnJQ1rSs9DJhcu0iMbPQNxgYJJBvmSKZEGGFS2Q/formResponse?entry.363148659={{payload1}}&entry.1630146957={{payload2}}&entry.321472480={{payload3}}&entry.1314320949={{payload4}}&entry.1043240112={{payload5}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1350,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "03ea2cac6a59640a",
        "type": "function",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Función 2",
        "func": "// Si viene un reset, limpia el chart\nif (msg.reset === true) {\n  return { topic: \"Flujo (L/s)\", payload: [] };\n}\n\n// Caso normal\nmsg.topic = \"Flujo (L/s)\";\nmsg.payload = (msg.payload3 !== undefined) ? msg.payload3 : flow.get(\"flujov\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 480,
        "wires": [
            [
                "484aa683cff37efc"
            ]
        ]
    },
    {
        "id": "a421136c3f79a46a",
        "type": "function",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Función 3",
        "func": "// Si viene un reset, limpia el chart\nif (msg.reset === true) {\n  return { topic: \"Nivel (cm)\", payload: [] };\n}\n\n// Caso normal\nmsg.topic = \"Nivel (cm)\";\nmsg.payload = (msg.payload2 !== undefined) ? msg.payload2 : flow.get(\"nivel_cm\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 520,
        "wires": [
            [
                "3b022622a25c715d"
            ]
        ]
    },
    {
        "id": "47c4acb8b59a4906",
        "type": "ui_button",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "",
        "group": "f6ee50e53b053773",
        "order": 7,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Resetear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "resetear",
        "topicType": "flow",
        "x": 680,
        "y": 280,
        "wires": [
            [
                "f2c984252cf265e3"
            ]
        ]
    },
    {
        "id": "373742e91dda535f",
        "type": "ui_switch",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "",
        "label": "Guardar reporte IoT",
        "tooltip": "",
        "group": "f233e9958ae82445",
        "order": 10,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 780,
        "y": 820,
        "wires": [
            [
                "cddb546d205ae0d8",
                "b36775bc447ffd08"
            ]
        ]
    },
    {
        "id": "1e2e86b44f91667a",
        "type": "ui_text",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "group": "c5ef3945c30e96d1",
        "order": 3,
        "width": "7",
        "height": "1",
        "name": "",
        "label": "Flujo Actual (l/s):    ",
        "format": "{{msg.payload3}}",
        "layout": "row-center",
        "className": "",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "5c43ae623c7a475d",
        "type": "ui_text",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "group": "c5ef3945c30e96d1",
        "order": 2,
        "width": "7",
        "height": "1",
        "name": "",
        "label": "Nivel Actual (cm):    ",
        "format": "{{msg.payload2}}",
        "layout": "row-center",
        "className": "",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "484aa683cff37efc",
        "type": "ui_chart",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "",
        "group": "c5ef3945c30e96d1",
        "order": 6,
        "width": "7",
        "height": "7",
        "label": "Tendencia de Flujo",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#30b530",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3b022622a25c715d",
        "type": "ui_chart",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "",
        "group": "c5ef3945c30e96d1",
        "order": 5,
        "width": "7",
        "height": "7",
        "label": "Tendencia de Nivel",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#c96a18",
            "#2ca02c",
            "#98df8a",
            "#a60808",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8f37c01cbbb18cea",
        "type": "telegram receiver",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "",
        "bot": "b32e39e313deab16",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 590,
        "y": 760,
        "wires": [
            [
                "57adee218ffc3e70"
            ],
            []
        ]
    },
    {
        "id": "a41188eb3ee8ebe1",
        "type": "telegram sender",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "",
        "bot": "b32e39e313deab16",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1430,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "32050f21fd198c68",
        "type": "ui_table",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "group": "c5ef3945c30e96d1",
        "name": "Histórico de Caudal",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "Nº",
                "title": "Valor",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Fecha",
                "title": "Fecha/Hora",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Nivel (cm)",
                "title": "Nivel (cm)",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Flujo (l/s)",
                "title": "Flujo (l/s)",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Hora",
                "title": "Hora",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1750,
        "y": 580,
        "wires": []
    },
    {
        "id": "d09f4be414c87d9f",
        "type": "date-converter",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "",
        "topic": "",
        "input": "rate",
        "inputType": "msg",
        "inTz": "America/Guayaquil",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD.MM.YYYY HH:mm",
        "locale": "de_DE",
        "output": "",
        "outputType": "msg",
        "outTz": "America/Guayaquil",
        "x": 1240,
        "y": 540,
        "wires": [
            [
                "0f10506c36a6f17a"
            ],
            []
        ]
    },
    {
        "id": "b36775bc447ffd08",
        "type": "ui_led",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "order": 11,
        "group": "f233e9958ae82445",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 970,
        "y": 840,
        "wires": []
    },
    {
        "id": "4993d99d63f3a2a0",
        "type": "function",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "Función 8",
        "func": "// Power BI Streaming (array JSON)\n\n// Leer variables del flow\nlet valor = flow.get(\"savedCount\") || 0;\nlet fecha = flow.get(\"fecha\");            // \"DD.MM.YYYY HH:mm:ss\"\nlet nivel = flow.get(\"nivel_cm\");\nlet flujo = flow.get(\"flujov\");\nlet hora  = flow.get(\"hora\");\n\n// Fallbacks y formatos\nconst pad = n => (n < 10 ? \"0\" : \"\") + n;\nif (!fecha) {\n  const now = new Date();\n  fecha = `${pad(now.getDate())}.${pad(now.getMonth()+1)}.${now.getFullYear()} ${pad(now.getHours())}:${pad(now.getMinutes())}:${pad(now.getSeconds())}`;\n}\nif (!hora && String(fecha).includes(\" \")) hora = String(fecha).split(\" \")[1];\n\n// Convierte \"DD.MM.YYYY HH:mm:ss\" a ISO-8601 con -05:00\nlet iso;\ntry {\n  const [dpart, tpartRaw] = String(fecha).split(\" \");\n  const [dd, mm, yyyy] = dpart.split(\".\");\n  const tpart = (tpartRaw || \"00:00:00\").length === 5 ? `${tpartRaw}:00` : (tpartRaw || \"00:00:00\");\n  iso = `${yyyy}-${mm.padStart(2,'0')}-${dd.padStart(2,'0')}T${tpart}-05:00`;\n} catch (e) {\n  iso = new Date().toISOString();\n}\n\n// Asegurar tipos numéricos\nnivel = Number.isFinite(nivel) ? Number(nivel) : null;\nflujo = Number.isFinite(flujo) ? Number(flujo) : null;\n\n// Los nombres de campos deben coincidir con los del schema en Power BI\nconst row = {\n  Valor: valor,\n  FechaHora: iso,      // tipo DateTime en el dataset\n  Nivel_cm: nivel,     // Number\n  Flujo_lps: flujo,    // Number\n  Hora: hora || \"\"     // Text\n};\n\n// Importante: array JSON sin \"rows\"\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = JSON.stringify([ row ]);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 620,
        "wires": [
            [
                "8c39501066a6ac85"
            ]
        ]
    },
    {
        "id": "8c39501066a6ac85",
        "type": "http request",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.powerbi.com/beta/1f99bb00-d24b-4193-8c35-de3c556c30b3/datasets/48b00ebe-b4e1-4fa3-be0e-c8b4f7ad5ec0/rows?redirectedFromSignup=1%2C1&experience=power-bi&key=De1mW7IezaMRkW8Te1oTUmiIjKhtgh%2BiPm0A8e2KcbOtdwedr%2BLqMRBDfF30Q1Yx9prhz2ro%2BYfmCv53%2FrjV5w%3D%3D",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1350,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ee2b3eb67a157907",
        "type": "ui_text",
        "z": "50baed72df3a68ee",
        "g": "cb36c7413bd4b72c",
        "group": "f6ee50e53b053773",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sistema IoT para Monitoreo de Nivel y Caudal usando MQTT, Node-RED y Power BI",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1500,
        "y": 360,
        "wires": []
    },
    {
        "id": "f4fa280962bc321c",
        "type": "ui_text",
        "z": "50baed72df3a68ee",
        "g": "cb36c7413bd4b72c",
        "group": "f6ee50e53b053773",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Universidad Tecnológica Israel",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1530,
        "y": 320,
        "wires": []
    },
    {
        "id": "de770a693d5bdddb",
        "type": "debug",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 520,
        "wires": []
    },
    {
        "id": "3f243aed57a69d51",
        "type": "debug",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 760,
        "wires": []
    },
    {
        "id": "a5276a25b2690d22",
        "type": "debug",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 700,
        "wires": []
    },
    {
        "id": "3cb2dca907e55cab",
        "type": "debug",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 840,
        "wires": []
    },
    {
        "id": "207ff28b0f2035a6",
        "type": "debug",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 840,
        "wires": []
    },
    {
        "id": "19158a8ac2083ab8",
        "type": "debug",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 720,
        "wires": []
    },
    {
        "id": "6dd9c31c5308b9ed",
        "type": "debug",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 500,
        "wires": []
    },
    {
        "id": "ddb97ac654e640fc",
        "type": "debug",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 540,
        "wires": []
    },
    {
        "id": "9015e02fe99ea55e",
        "type": "ui_text",
        "z": "50baed72df3a68ee",
        "g": "cb36c7413bd4b72c",
        "group": "f6ee50e53b053773",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Integrantes del Equipo:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1310,
        "y": 400,
        "wires": []
    },
    {
        "id": "2d1d0e9f68778e9e",
        "type": "ui_text",
        "z": "50baed72df3a68ee",
        "g": "cb36c7413bd4b72c",
        "group": "f6ee50e53b053773",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ronald Garcés",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1520,
        "y": 400,
        "wires": []
    },
    {
        "id": "e46294da96067d94",
        "type": "ui_text",
        "z": "50baed72df3a68ee",
        "g": "cb36c7413bd4b72c",
        "group": "f6ee50e53b053773",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wilmer Olivarez",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1700,
        "y": 400,
        "wires": []
    },
    {
        "id": "acca9d3af4870405",
        "type": "ui_gauge",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "",
        "group": "c5ef3945c30e96d1",
        "order": 4,
        "width": "7",
        "height": "7",
        "gtype": "wave",
        "title": "",
        "label": "cm",
        "format": "{{msg.payload2}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "d7d4ad130bc43a35",
        "type": "ui_gauge",
        "z": "50baed72df3a68ee",
        "g": "e86b907d10b2469c",
        "name": "",
        "group": "c5ef3945c30e96d1",
        "order": 4,
        "width": "7",
        "height": "7",
        "gtype": "donut",
        "title": "",
        "label": "l/s",
        "format": "{{msg.payload3}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#ff0000",
            "#ff6600",
            "#0dbd00"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "71f4a25f91dceb7b",
        "type": "mqtt-broker",
        "name": "BROKER",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f6ee50e53b053773",
        "type": "ui_group",
        "name": "INFORMACIÓN",
        "tab": "cb39246c8d72e491",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f233e9958ae82445",
        "type": "ui_group",
        "name": "  ",
        "tab": "cb39246c8d72e491",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c5ef3945c30e96d1",
        "type": "ui_group",
        "name": "TENDENCIAS",
        "tab": "cb39246c8d72e491",
        "order": 2,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b32e39e313deab16",
        "type": "telegram bot",
        "botname": "proyecto_iot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "cb39246c8d72e491",
        "type": "ui_tab",
        "name": "Industria 4.0",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dee61c7748b1d6e6",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.1.7",
            "node-red-contrib-telegrambot": "11.3.0",
            "node-red-node-ui-table": "0.3.12",
            "node-red-contrib-date-converter": "0.0.3",
            "node-red-contrib-ui-led": "0.4.11"
        }
    }
]